body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,DB Heavent v3.2.1, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.overlap-box {
    top: -15px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.rounded-10 {
  border-radius: 10px;
}

.logo-padding {
  padding-left: 15px;

}
.white {
background-color: #ffffff!important;
}

.LoginMerchantPIN{
  
  width: 100px;
  height: 100px;

  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));;

}

@font-face {
  font-family: 'DBHeavent';
  src: local('DBHeavent'), url(../fonts/DB\ Heavent\ v3.2.1.ttf) format('truetype');
}
@font-face {
  font-family: 'DBHeaventDB';
  src: local('DBHeaventDB'), url(../fonts/DB\ Heavent\ Bd\ v3.2.1.ttf) format('truetype');
}

.DB{
  font-family: DBHeavent, serif;
  color: rgb(0, 0, 0);
}
.DBB{
  font-family: DBHeaventDB, serif;
  color: rgb(0, 0, 0);
}