html,body {
  font-family: DBHeavent, serif !important;
  touch-action: pan-x pan-y;
  
}

body {
  
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.overlap-box {
    top: -15px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.rounded-10 {
  border-radius: 10px;
}



.paddingBottom15 {
  padding-bottom:15px;
  
}

.paddingTop15 {
  padding-top:15px;
  
}
.NavBcolorTextSizeSelect {
  font-size: 20px;
  font-family: DBHeaventDB, serif;
  color:#F7931E;
  


  
}
.NavBcolorTextSize {
  font-size: 20px;
  
  color:#6B6B6B;
  
  
}
.fromfontsize20 {
  font-size: 22px;
 
  
  
}
.NavBcolorIconSize {
  font-size: 24px;
  color:#6B6B6B;
  
}
.NavBcolorIconSizeSelect {
  font-size: 24px;
  font-family: DBHeaventDB, serif;
  color:#F7931E;
  
}

.mggt {
  margin-top: -1.5vh;
  
}
.middle {
  font-size: 20px;
  height: 100%;
  display: flex;
}

.fontSize25 {
  font-size: 25px;
  color:#2c2c2c;
}
.rounded-7 {
  border-radius: 7px;
}
.ipx {
  padding: 12px;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
}
.rounded-all{
  border-radius: 50px;
}

.logo-padding {
  padding-left: 15px;

}
.logo-paddingCustomer {
  padding-left: 1px;

}
.white {
background-color: #ffffff!important;
}

.LoginMerchantPIN{
  
  width: 100px;
  height: 100px;

  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));;

}


.tabbarFloat{
  
  width: 500px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.25));;

}
.btnOrg{
  color: #F7931E;
  border-color: #F7931E;
  
}

.btnQRBack{
  color: #FB8549;
  
  background-color: #FFEBD9;
  font-size: 25px;
  border-radius: 9px;
  border: none;
  width: 100%;
  height: 59px;
 
}

.mobile-nav {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
}

.iconStaffManagement{
  
  
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  

}

.btnPreRegister{
  color: #ffffff;
  background: linear-gradient(180deg, #F7931E 0%, #FF7676 100%);
  font-size: 25px;
  border-radius: 99px;
  border: none;
  width: 70%;
  height: 50px;
}

.webPOSbg{

  background: #F5F6FA;

}
.marginTopM50{
  
  margin-top: -50px;

  

}

.fontSizePin{
  
  font-size: 30px;

  

}
.cardBG{
  height: 90px;
  
  background: #ffffff;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  margin: 15px;
}
.dashMenuBody{
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.25));;

}

@font-face {
  font-family: DBHeavent;
  src: url(../fonts/DB_Heavent_v3.2.1.ttf);
}
@font-face {
  font-family: DBHeaventDB;
  src: url(../fonts/DB_Heavent_Bd_v3.2.1.ttf);
}

.DB{
  font-family: DBHeavent, serif;

}
.DBB{
  font-family: DBHeaventDB, serif;
  color: rgb(0, 0, 0);
}

.DbBold{
  font-family: DBHeaventDB, serif;
  
}
.topbt{
  margin-top: auto;
  margin-bottom: auto;
}

.navbar {
  border-bottom: solid 1px #EBEBEB;
}
.bottom-tab-nav {
  border-top: solid 1px #EBEBEB;
}
.nav-link,
.bottom-nav-link {
  color: #55575b;
}
.bottom-nav-link.active {
  color: #eb2d2d;
}
.bottom-tab-label {
  font-size: 20px;
}

