
.LoginMerchantPIN{
  
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));;

}


.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
